/*Подробное меню*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-content: flex-end;
}

.flex-item {
  -webkit-flex: 1 20 300px;
  -ms-flex: 1 20 300px;
  flex: 1 20 300px;
  min-width: 500px;
  margin: 10px 10px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.timeSelect{
  width: 100px;
}



/*Всплывающее меню*/
.sideMenuClass {
  height: 100%;
  width: 0;
  /*ширина изначально 0 - меню скрыто*/
  position: fixed;
  z-index: 1;
  /*верхний слой*/
  top: 0;
  left: 0;
  background-color: #2d2d2d;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideMenuContent {
  width: 300px;
  min-height: 600px;
}

/*свойства для всех элементов в меню*/
.Parameters li,
.overlay a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideMenuClass button {
  padding: 8px 8px 8px 8px;
  font-size: 18px;
  left: 30%;
 
}
#sideSaveBtn{
  float: left;
  margin-left:10px;
}
#overlayOpenBtn{
  float: right;
  margin-right: 10px;
}
.Parameters li:hover {
  color: #f1f1f1;
}

.sideMenuClass .closeMenuBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Размеры элементов для маленьких экранов*/
@media screen and (max-height:450px) {
  .sideMenuClass {
    padding-top: 15px;
  }

  .sideMenuClass a {
    font-size: 18px;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .flex-item {
    min-width: 200px;
    max-width: 450px;
    margin: 10px 10px;
  }
}
/* Список бокового меню */
.Parameters {
  list-style: none;
  padding: 0;
}

.Parameters li {
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 7px 20px;
  margin-bottom: 10px;
  border-left: 10px solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    -2px -2px 5px 0 rgba(0, 0, 0, .1),
    2px 2px 5px 0 rgba(0, 0, 0, .1),
    -2px 2px 5px 0 rgba(0, 0, 0, .1);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
}

.Parameters li:hover {
  border-left: 10px solid transparent;
  border-right: 10px solid #f05d22;
}
/* Списки оверлея */
.ParamBlock{
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .3),
    -2px -2px 5px 0 rgba(0, 0, 0, .3),
    2px 2px 5px 0 rgba(0, 0, 0, .3),
    -2px 2px 5px 0 rgba(0, 0, 0, .3);
  background: rgba(10, 75, 159, 0.5);
  list-style: none;
  padding: 0;
}
.ParamBlock li{
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 7px 20px;
  margin-bottom: 10px;
  border-left: 10px solid rgba(10, 75, 159);
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: rgb(191, 202, 211);
  letter-spacing: 2px;
  transition: 0.3s all linear;
  text-align: left;
}
.TempCels{
  text-align: center;
}
#Headline {
  background-color: #0a4b9f;
  color: aliceblue;
}
/* Время работы по колонкам */
.workTime{ 
  width: 100%;
}
/*значок меню*/
#MenuSelecror {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  transition: 0.4s;
}

#MenuPrimitive1,
#MenuPrimitive2,
#MenuPrimitive3 {
  width: 35px;
  height: 5px;
  background-color: #2d2d2d;
  margin: 6px 0;
  transition: 0.4s;
}

.change #MenuPrimitive1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #818181;
}

.change #MenuPrimitive2 {
  opacity: 0;
  background-color: #818181;
}

.change #MenuPrimitive3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #818181;
}

